body {
    margin: 0;
    font-family: "Segoe UI", Arial;
    background: #f4f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 1000px;
    min-height: 650px;
    background: white;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}


/* left */

.left {
    width: 35%;
    background: #2f3e46;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.role {
    color: #a8dadc;
    font-size: 18px;
}


/* right */

.right {
    width: 65%;
    padding: 50px;
    line-height: 1.6;
}

.right h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-top: 20px;
}

.right a {
    color: #1d3557;
    text-decoration: none;
}

.right a:hover {
    text-decoration: underline;
}

#MSSV {
    display: none;
}